:root {
    --primary: #fff;
    --bg-color: white;
    --bg-envelope-color: #133464;
    --envelope-tab: #133464;
    --envelope-cover: #0c254a;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
    position: relative;
    width: 300px;
    height: 230px;
}

.envelope {
    position: relative;
    width: 100%;
    height: 100%;
}

.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: all 1.5s ease-in-out 1s;
}

.envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 130px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);
}

.letter {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
}

.letter .text {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--txt-color);
    text-align: left;
    font-size: 10px;
}


/* Animation d'ouverture de l'enveloppe */
.flap .envelope::before {
    transform: rotateX(180deg);
    z-index: 0;
    transition: all 3s ease-in-out;
}

.flap .letter {
    bottom: 100px;
    transform: scale(1.5);
    transition: all 3s ease-in-out 1.5s;
}


.envelope {
    cursor: pointer;
    font-size: 50px;
}

.flipbook {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position:absolute !important;
    top: 50%;            /* Positionne le flipbook à 50% de la hauteur de la page */
    left: 50%;           /* Positionne le flipbook à 50% de la largeur de la page */
    transform: translate(-50%, -50%) !important; /* Centre l'élément exactement au milieu */
    z-index: 10;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
    position: relative;
    width: 300px;
    height: 230px;
    transition: transform 2.5s ease-in-out;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px; /* Ajuste la taille selon tes besoins */
    height: 50px; /* Ajuste la taille selon tes besoins */
    transform: translate(-50%, -50%);
    transition: transform 2s ease-in-out 1s;
    cursor: pointer;
    z-index:8;
}

/* Animation d'ouverture de l'enveloppe avec l'image */
.flap .logo {
    transform: rotate(45deg) translate(-50%, -50%);
    transition-delay: 0.1s;
}

.absolute-image {
    position: absolute;
    top: 5%; /* Ajuste la position verticale */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centrage de l'image */
    width: 50%; /* Ajuste la taille de l'image */
    height: auto; /* Garde les proportions */
    z-index:15;
    border-radius : 50%;
}
